<%= form_with(model: [@project, Attachment.new], local: true, html: { multipart: true }) do |form| %>
  <div class="input-group mb-3">
    <!-- File input -->
    <%= form.file_field :file, class: "form-control", id: "inputGroupFile" %>

    <!-- Upload button -->
    <%= form.submit "Upload", class: "btn btn-primary" %>
  </div>
<% end %>
