<div class="container py-5">
  <div class="text-center mb-4">
    <h1 class="display-4 fw-bold">Contact Us</h1>
    <p class="lead">Need help? Want to talk? We’re happy to hear from you.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4>Support</h4>
      <p>Email us at <a href="mailto:support@mybasecamp.com">support@mybasecamp.com</a> and we’ll get back to you as soon as possible.</p>

      <h4>Business Inquiries</h4>
      <p>Have a partnership idea or media inquiry? Reach out to <a href="mailto:partners@mybasecamp.com">partners@mybasecamp.com</a>.</p>

      <h4>Follow Us</h4>
      <p>
        <a href="#">Twitter</a> • 
        <a href="#">LinkedIn</a> • 
        <a href="#">Instagram</a>
      </p>
    </div>
  </div>
</div>
